<a href="https://colab.research.google.com/github/houseng2/ATMS-597-SP-2020/blob/patch-1/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import datetime

In [0]:
import requests

def make_request(endpoint, payload=None):
    """
    Make a request to a specific endpoint on the weather API
    passing headers and optional payload.
    
    Parameters:
        - endpoint: The endpoint of the API you want to 
                    make a GET request to.
        - payload: A dictionary of data to pass along 
                   with the request.
    
    Returns:
        Response object.
    """
    return requests.get(
        f'https://www.ncdc.noaa.gov/cdo-web/api/v2/'+endpoint,
        headers={
            'token': 'yicVcIaiwUAgtBveaBtWSaioiQvqRJRh'
        },
        params=payload
    )

In [0]:
# This cell will request locations. We used this to find the locationid for Champaign, IL area.
# !!!No need to run this cell again unless we want to look up a new locationid!!!

response = make_request(
    'locations', 
    {
        'datasetid' : 'GHCND', 
        'locationcategoryid' : 'CITY',
        'datacategoryid' : 'TEMP',
        'sortorder' : 'desc',
        'limit' : 1000 # max allowed
    }
)
response.json()

In [0]:
# This cell will request stations. We used this to find the stationid for Rantoul, IL station.
# !!!No need to run this cell again unless we want to look up a new stationid!!!

response = make_request(
    'stations', 
    {
        'datasetid' : 'GHCND',
        'locationid' : 'CITY:US170004', 
        'datacategoryid' : 'TEMP',
        'limit' : 1000 # max allowed
    }
)
response.json()

In [0]:
# Create lists containing the beginning and end of years we want to loop over.
# Clunky for now, can probably make this smoother using some kind of loop to add one to the year each time


currentlist = [datetime.date(2015, 1, 1), datetime.date(2016, 1, 1), datetime.date(2017, 1, 1), datetime.date(2018, 1, 1), datetime.date(2019, 1, 1)]
endlist = [datetime.date(2015, 12, 31), datetime.date(2016, 12, 31), datetime.date(2017, 12, 31), datetime.date(2018, 12, 31),datetime.date(2019, 12, 31)]

In [0]:
# This cell will request the data

results = [] # get an empty list to fill with data
numloops = np.arange(len(currentlist)) # fill a numper array with the length of the list of years we want

#Start the loop over the years we want
for i in numloops:
    current = currentlist[i] # set current to the beginning of the year in our loop
    end = endlist[i] # set end to the end of the year in our loop
    # update the cell with status information
    #display.clear_output(wait=True)
    #display.display(f'Gathering data for {str(current)}')
    response = make_request(
        'data', 
        {
            'datasetid' : 'GHCND', # Global Historical Climatology Network - Daily (GHCND) dataset
            'datatypeid' : 'TMAX',
            'stationid' : 'GHCND:USW00014806',
            'startdate' : current,
            'enddate' : end,
            'units' : 'metric',
            'limit' : 1000 # max allowed
        }
    )
    response.json()
    results.extend(response.json()['results']) # put the data in the results list

In [9]:
len(results) # check the length of the results list to make sure we have the correct number of days

1826

In [11]:
# Put the results in a pandas dataframe
df = pd.DataFrame(results)
df.tail()

                     date datatype            station attributes  value
1821  2019-12-27T00:00:00     TMAX  GHCND:USW00014806   ,,7,0700    6.1
1822  2019-12-28T00:00:00     TMAX  GHCND:USW00014806   ,,7,0700   13.3
1823  2019-12-29T00:00:00     TMAX  GHCND:USW00014806   ,,7,0700   15.0
1824  2019-12-30T00:00:00     TMAX  GHCND:USW00014806   ,,7,0700    3.9
1825  2019-12-31T00:00:00     TMAX  GHCND:USW00014806   ,,7,0700    0.6

In [0]:
###Rylan's code for getting Yearly Average Temperature goes here. ###

In [13]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(results)
 
df['date']= pd.to_datetime(df['date']) 
df.index = df['date']
 
del df['datatype']
del df['station']
del df['attributes']
#del df['date']
 
df.columns = ['date','TMAX']
df.to_csv('project2_data')
 
df.tail()

                 date  TMAX
date
2019-12-27 2019-12-27   6.1
2019-12-28 2019-12-28  13.3
2019-12-29 2019-12-29  15.0
2019-12-30 2019-12-30   3.9
2019-12-31 2019-12-31   0.6

In [14]:
df = df.groupby(pd.Grouper(freq='Y')).mean()
df.columns = ['Yearly Average Temperature']
df

            Yearly Average Temperature
date
2015-12-31                   17.356986
2016-12-31                   18.389071
2017-12-31                   18.874247
2018-12-31                   17.464932
2019-12-31                   16.301644